* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fafafa;
    --text-color: #221314;
    --secondary-text-color: #039cf4;
    --alt-text-color: #9c9c9c;
    --second-color: #039cf4;
    --main-color: #58d1d7;

    /* Desktop */

    --big-font: 96px;
    --h2-font: 48px;
    --p-font: 18px;
    --form-font: 16px;
    --alt-form-font: 12px;

    /* Mobile */

    --mobile-h2-font: 38px;
    --mobile-subtitle-font: 16px;
    --mobile-body-font: 16px;
    --mobile-button-font: 14px;
}

body {
    background-image: url("../assets/desktop-background.jpg");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}
section {
    height: 100%;
    width: 100%;
}
/* ============ Header ============ */
.header-section {
    height: 20px;
    top: 0;
    display: block;
    position: fixed;
    background: inherit;
    z-index: 2;
    width: 100%;
}
.header-container {
    display: block;
    right: 1%;
    top: 2%;
    position: fixed;
    width: 85%;
    height: 75px;
    border-radius: 15px;
    box-shadow: 0px 1px 20px 0.5px #c4c4c4;
    background: var(--bg-color);
    z-index: 2;
}
.header-container .header-content {
    height: 100%;
    width: 100%;
    padding: 15px 20px;
    display: flex;
}
.header-container .header-content .left {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    width: 60%;
    height: 100%;
}
.header-container .header-content .left .hamburger {
    display: none;
}
.header-container .header-content .left h2 {
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    font-size: clamp(1.25rem, 1.5036rem + 0.5178vw, 2.125rem);
    height: 100%;
    margin-bottom: 0;
}
.header-container .header-content .right {
    display: inline-flex;
    width: 40%;
    height: 100%;
    justify-content: right;
    align-items: center;
    text-align: right;
}
.header-container .header-content .right .user-info {
    align-items: center;
    justify-content: center;
}
.header-container .header-content .right .user-info .name {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
}
.header-container .header-content .right .user-info .role {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0;
}
.header-container .header-content .right .user-img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-left: 20px;
}
.header-container .header-content .right .user-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-section .user-menu {
    display: inline-flex;
    position: fixed;
    right: 1%;
    top: 87px;
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 150px;
    height: 0;
    border: 0px solid #b9b9b9;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 2;
}
.header-section .user-menu.show {
    border: 1px solid #b9b9b9;
    height: 100px;
    transition: 0.5s;
}
.header-section .user-menu ul li {
    display: block;
    width: 150px;
    height: 50px;
    text-align: left;
    justify-content: center;
    transition: 0.5s ease;
}
.header-section .user-menu ul li .list-menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}
.header-section .user-menu ul li .list-menu i {
    margin-right: 20px;
}

/* ========= End of Header Section ============ */

/* ========= Sidebar Section ========== */
.sidebar-section {
    position: fixed;
    z-index: 3;
}
.sidebar-container {
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    width: 240px;
    background: var(--bg-color);
    box-shadow: 0px 1px 20px 2px #c4c4c4;
    z-index: 3;
}
.sidebar-content {
    display: block;
}
.sidebar-content .logo {
    margin-top: 10px;
    margin-left: 15px;
    height: 150px;
    width: 230px;
    object-fit: fill;
    text-align: center;
}
.sidebar-content .logo img {
    height: 70px;
    width: 70px;
}
.sidebar-content .logo .text-logo {
    padding-top: 5px;
}
.sidebar-content .logo .text-logo a {
    margin-top: 20px;
    font-size: var(--p-font);
    font-weight: 600;
    text-align: left;
    color: #000000;
}
.sidebar-content .logo .text-logo #sub {
    text-decoration: underline 5px #039cf4;
}
.sidebar-content ul {
    padding-top: 20px;
}
.sidebar-content ul li {
    display: block;
    width: 230px;
    height: 50px;
    margin-left: 5px;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
    transition: 0.5s ease;
}
.sidebar-content ul li .menu {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 45px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}
.sidebar-content ul li:hover .menu {
    color: var(--second-color);
    transform: scale(1.2);
    transition: 0.5s ease;
}
.sidebar-content ul li:hover .menu a {
    color: var(--second-color);
    text-align: left;
    transition: 0.5s ease;
}
.sidebar-content ul li .menu i {
    font-size: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);
    margin-right: 20px;
}
.sidebar-content ul li .menu a {
    color: #000000;
    transition: 0.5s ease;
}
.sidebar-content ul .current {
    background-color: var(--second-color);
    border-radius: 5px;
    margin-left: 10px;
    width: 220px;
    color: var(--bg-color);
    transition: 0.5s ease;
}
.sidebar-content ul .current:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    box-shadow: 0px 1px 20px 1px #c4c4c4;
}
.sidebar-content ul .current .menu {
    height: 100%;
    padding: 0 40px;
    transition: 0.5s ease;
    justify-content: left;
    align-content: center;
}
.sidebar-content ul .current .menu:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}
.sidebar-content ul .current .menu i {
    color: var(--bg-color);
}
.sidebar-content ul .current .menu .text-menu a {
    color: var(--bg-color);
    font-size: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
}

/* ========= End of Sidebar Section ========== */
/* ========= Register ======== */
.content-box .form-box #register {
    font-size: clamp(1rem, 0.5327rem + 1.9938vw, 3rem);
    color: var(--text-color);
    margin-bottom: 30px;
}
/* ========= Login Page =========== */

.content-container {
    display: block;
    left: 15%;
    top: 10%;
    position: absolute;
    width: 70%;
    height: 80%;
    border-radius: 25px;
    box-shadow: 0px 1px 20px 5px #c4c4c4;
    background: var(--bg-color);
}
.login-section {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.login-section .img-box {
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 25px;
}
.login-section .img-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.login-section .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.login-section .content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}
.login-section .content-box .form-box {
    width: 50%;
}
.login-section .content-box .form-box h2 {
    font-size: clamp(1rem, 0.5327rem + 1.9938vw, 3rem);
    color: var(--text-color);
}
.login-section .content-box .form-box form {
    text-align: end;
}
.login-section .content-box .form-box p {
    margin-bottom: 20%;
    color: var(--alt-text-color);
}
.login-section .content-box .form-box form a {
    color: #000000;
    transition: 0.5s ease;
}
.login-section .content-box .form-box form a:hover {
    color: var(--second-color);
    transition: 0.5s ease;
}
.form-box .user-box {
    position: relative;
}
.form-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: var(--form-font);
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.form-box .user-box #form-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: var(--form-font);
    color: var(--alt-text-color);
    pointer-events: none;
    transition: 0.5s;
    font-weight: 500;
}
.form-box .user-box input:focus ~ #form-text,
.form-box .user-box input:not(:placeholder-shown) ~ #form-text {
    top: -20px;
    left: 0;
    color: var(--second-color);
    font-size: var(--alt-form-font);
}
.btn-submit {
    cursor: pointer;
    width: 100%;
    background: var(--second-color);
    margin-top: 20%;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    transition: 0.5s ease;
}
.btn-submit:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
/* ========== End of Login Page =========== */

/* ========== Dashboard Page =========== */

.dashboard-container-1 {
    position: absolute;
    display: flex;
    top: 15%;
    right: 22%;
    width: 64%;
    height: 20%;
    z-index: 0;
}
.dashboard-container-1 .container-fluid {
    padding: 0 5px;
    height: 100%;
}
.dashboard-container-1 .container-fluid .container-content {
    display: flex;
    justify-content: space-between;
}
.counter-card {
    display: block;
    height: 100%;
    width: 32%;
    background-color: var(--bg-color);
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    padding: 10px 10px;
}
.counter-card .card-content {
    width: 100%;
}
.counter-card .card-content .info {
    display: flex;
    justify-content: left;
    align-items: center;
}
.counter-card .card-content .info .icon i {
    font-size: clamp(1.75rem, 1.0707rem + 1.087vw, 2.375rem);
    margin-right: 10px;
    color: #000000;
}
.counter-card .card-content .info .icon.siswa i {
    color: #0a7aff;
}
.counter-card .card-content .info .icon.tamu i {
    color: #3c885f;
}
.counter-card .card-content .info .icon.pelanggaran i {
    color: #e43e3e;
}
.counter-card .card-content .info .text-info a {
    font-size: clamp(1rem, 0.3207rem + 1.087vw, 1.625rem);
    color: #000000;
    font-weight: 300;
}
.counter-card .card-content .counter {
    font-size: 40px;
    font-weight: 600;
}
.counter-card .card-content .detail {
    text-align: left;
    width: 100%;
    font-size: clamp(0.75rem, -0.0652rem + 1.3043vw, 1.5rem);
    display: flex;
}
.counter-card .card-content .detail a {
    width: 80%;
}
.counter-card .card-content .detail .counter-detail {
    display: flex;
    width: 20%;
    justify-content: right;
    align-items: center;
}
.counter-detail.increase .icon i {
    color: #3c885f;
}
.counter-detail.increase .text-info a {
    color: #3c885f;
}
.counter-detail.decrease .icon i {
    color: #e43e3e;
}
.counter-detail.decrease .text-info a {
    color: #e43e3e;
}

.dashboard-container-2 {
    position: absolute;
    top: 36%;
    right: 22%;
    width: 64%;
    height: 58%;
    border-radius: 10px;
    z-index: 0;
    opacity: 10;
}
.dashboard-container-2 .dashboard-content {
    padding: 10px 5px;
    display: flex;
}
.dashboard-container-2 .dashboard-content .card {
    border-radius: 10px;
    border: 1px solid #b9b9b9;
}
.dashboard-container-2 .dashboard-content .card.left {
    width: 66%;
    margin-right: 2%;
}
.dashboard-container-2 .dashboard-content .card.right {
    width: 32%;
}
.dashboard-container-2 .dashboard-content .card.right .card-header {
    margin-bottom: 40px;
}
#overview-chart {
    height: 420px;
}
#overview-chart-2 {
    height: 420px;
}

.dashboard-side-container {
    position: absolute;
    top: 15%;
    right: 1%;
    width: 20%;
    height: 76%;
    z-index: 0;
    background-color: var(--bg-color);
    border-radius: 10px;
    border: 1px solid #b9b9b9;
    padding: 30px 10px;
}
.dashboard-side-container .dashboard-content .app-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
}
.dashboard-side-container .dashboard-content .app-list .app {
    margin-bottom: 20px;
    width: 40%;
}
.dashboard-side-container .dashboard-content .app-list .app a i {
    text-align: center;
    font-size: 48px;
    display: block;
    color: #000000;
    margin-bottom: 10px;
}
.dashboard-side-container .dashboard-content .app-list .app .app-text {
    font-size: clamp(0.7rem, 0.2083rem + 0.6667vw, 0.875rem);
    padding: 0 10px;
    text-align: center;
}
.dashboard-side-container .dashboard-content .app-list .app .app-text a {
    display: block;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
/* ========== End of Dashboard Page =========== */

/* Datatables */

/* ========= Siswa Page ========= */
.page-menu{
    position: absolute;
    height: 84%;
    top: 15%;
    left: 17%;
    width: 82%;
    border-radius: 10px;
}
#menu-card{
    border: 1px solid #cacaca;
    padding: 10px 10px;
    border-radius: 10px;
}
#menu-card .card-title{
    margin-bottom: 15px;
    font-weight: 500 !important;
}
#menu-card .card-text{
    height: 100px;
    overflow: hidden;
}
#menu-image{
    max-height: 200px;
}
#menu-button{
    width: 100%;
}

/* ========= End of Siswa Page ========= */

/* ========= Presensi Siswa Page ========= */
.table-container {
    position: absolute;
    top: 12%;
    right: 1%;
    width: 85%;
    z-index: 1;
}
.table-container .card {
    border: 1px solid #9c9c9c;
    border-radius: 15px;
}
div.dt-buttons {
    clear: both;
}
.btn.btn-secondary.add-button{
    border-radius: 5px !important;
    margin-right: 5px;
}
.add-button:hover {
    background-color: #fff;
    border: 1px solid #039cf4;
    color: black;
}
.btn.btn-secondary.buttons-collection.dropdown-toggle.export{
    border-radius: 5px;
    margin-right: 5px;
}
.export:hover {
    background-color: #fff;
    border: 1px solid #039cf4;
    color: black;
}
.btn.btn-secondary.buttons-collection.dropdown-toggle.buttons-colvis{
    border-radius: 5px;
}
.buttons-colvis:hover {
    background-color: #fff;
    border: 1px solid #039cf4;
    color: black;
}
.table-action-button #table-action-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.table-action-button .edit{
    background-color: rgb(247, 187, 57);
    display: flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    font-size: 32px;
    padding: 2px 0;
    border-radius: 5px;
    margin: 0 10px;
}
.table-action-button .edit a{
    color: var(--bg-color);
}
.table-action-button .remove{
    background-color: red;
    display: flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    font-size: 32px;
    padding: 2px 0;
    border-radius: 5px;
    margin: 0 10px;
}
.table-action-button .remove a{
    color: var(--bg-color);
}

/* ========= End of Presensi Siswa Page ========= */

/* ========= Form Page ========= */
.form-container {
    background-color: var(--bg-color);
    position: absolute;
    top: 12%;
    right: 1%;
    width: 85%;
    height: 84%;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #b9b9b9;
}
.form-container .content-box{
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    border: 1px solid #cacaca;
}
.form-container .content-box .form-box .btn-submit{
    margin-top: 20px;
    width: 100%;
}
.form-container .content-box .form-box .btn-submit:hover{
    transform: scale(1.02);
}
.form-check{
    padding: 0;
    margin-bottom: 15px;
}
.radio-container{
    display: flex;
    background-color: var(--bg-color);
    border: 2px solid #c4c4c4;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    transition: 0.5s ease;
}
.radio-container .radio-label{
    margin: 2px 10px;
    width: 100%;
    font-weight: 400 !important;
}
.radio-container .user-box.unique{
    height: 100%;
    width: 100%;
    right: 0;
    padding: 0 5px;
}
.radio-container.hidden{
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
input[type=radio] {
    accent-color: blue;
    margin: 0 10px;
    transform: scale(1.7);
}
.check-container{
    display: flex;
    background-color: var(--bg-color);
    border: 2px solid #c4c4c4;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    transition: 0.5s ease;
}
.check-container .check-label{
    margin: 2px 10px;
    width: 100%;
    font-weight: 400 !important;
}
.check-container .user-box.unique{
    height: 100%;
    width: 100%;
    right: 0;
    padding: 0 5px;
}
.check-container.hidden{
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
input[type=checkbox] {
    accent-color: blue;
    margin: 0 10px;
    transform: scale(1.7);
}
#form-subtitle{
    margin-bottom: 15px;
}


/* QR Page */
.qr-container{
    background-color: var(--bg-color);
    position: absolute;
    top: 12%;
    right: 1%;
    width: 85%;
    height: 84%;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #b9b9b9;
}

.qr-container .content {
    height: 100%;
    width: 100%;
    padding: 110px 0;
}
.qr-image {
    width: 100%;
    justify-content: center;
    display: flex;
}
.qr-image img{
    height: clamp(15.625rem, 10.8418rem + 20.4082vw, 31.25rem);;
    border: 1px solid black;
    border-radius: 25px;
}
.qr-description{
    margin: 140px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.qr-description form {
    padding: 0 40px;
    width: 100%;
}
.qr-description form .box input{
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
}
/* ========= Responsive ========= */

@media (max-width: 1600px) {
    .header-container {
        width: 82%;
    }

    /* Dashboard */
    .dashboard-container-1 {
        width: 61%;
    }
    .dashboard-container-2 {
        width: 61%;
        top: 38%;
    }
    .dashboard-container-2 .dashboard-content .card.right .card-header {
        margin-bottom: 0;
    }
    #overview-chart {
        height: 310px;
    }
    #overview-chart-2 {
        height: 310px;
    }
    .dashboard-side-container {
        height: 79%;
    }

    .table-container {
        width: 82%;
        top: 14%;
    }

    .form-container {
        width: 82%;
        top: 14%;
    }

    .qr-container {
        width: 82%;
        top: 14%;
    }
    .qr-container .content {
        padding: 60px 0;
    }
}
@media (max-width: 1400px) {
    .header-container {
        width: 78%;
    }
    .dashboard-container-1 {
        width: 57%;
    }
    .dashboard-container-2 {
        width: 57%;
    }
    .dashboard-side-container {
        height: 87%;
    }
    .table-container {
        width: 78%;
    }
    .form-container{
        width: 78%;
    }
    .qr-container {
        width: 78%;
    }
}
/* @media (max-width: 1200px) {
    .header-container {
        width: 76%;
    }
    .dashboard-container-1 {
        width: 55%;
    }
    .dashboard-container-2 {
        width: 55%;
        height: 50%;
    }
    .dashboard-side-container {
        height: 567px;
    }
    .table-container {
        width: 76%;
    }
    .form-container{
        width: 76%;
    }
}
@media (max-width: 1100px) {
    .header-container {
        width: 74%;
    }
    .dashboard-container-1 {
        width: 53%;
    }
    .dashboard-container-2 {
        width: 53%;
    }
    .table-container {
        width: 74%;
    }
    .form-container{
        width: 74%;
    }
} */
/* ===== End of Responsive ===== */

/* ========= Tab =========== */

@media (max-width: 1200px) {
    /* Header */
    .header-container {
        width: 95%;
        left: 2.5%;
    }
    .header-container .header-content .left .hamburger {
        display: inline-flex;
        margin-right: 20px;
        font-size: clamp(1.75rem, 1.6893rem + 0.2589vw, 2rem);
    }
    .header-container .header-content .left h2 {
        padding-top: 1px;
    }
    .section .user-menu {
        right: 2.5%;
    }

    /* Sidebar */
    .sidebar-container {
        width: 0;
        overflow-x: hidden;
        transition: 0.5s;
        transition-delay: 0.1s;
    }
    .sidebar-section .sidebar-close {
        position: fixed;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 0;
        height: 50px;
        top: 280px;
        left: 220px;
        background-color: var(--second-color);
        border-radius: 25px;
        color: var(--bg-color);
        transition: 0.1s;
        z-index: 2;
    }
    .sidebar-section .sidebar-close.show {
        width: 50px;
        transition: 0.1s;
        transition-delay: 0.35s;
    }
    .sidebar-section .sidebar-close i {
        opacity: 0;
        padding-left: 12px;
        font-size: clamp(1.75rem, 1.6893rem + 0.2589vw, 2rem);
    }
    .sidebar-section .sidebar-close.show i {
        opacity: 100;
    }
    .sidebar-container.active {
        transition: 0.5s;
        width: 240px;
    }

    /* .sidebar-container .sidebar-content .close{
        position: absolute;
        background-color: #fafafa;
        left: 250px;
        top: 300px;
    }

    .sidebar-container .sidebar-content .close i{
        font-size: clamp(1.75rem, 1.6893rem + 0.2589vw, 2rem);
        color: #000000;
    } */

    /* Login */
    .login-section .content-box .form-box p {
        font-size: 14px;
    }
    .form-box .user-box input {
        font-size: 14px;
    }
    .form-box .user-box label {
        font-size: 14px;
    }

    /* Dashboard */
    .dashboard-container-1 {
        left: 2.5%;
        width: 74%;
    }
    .dashboard-container-2 {
        left: 3%;
        top: 37%;
        width: 73%;
        height: 65%;
    }
    .dashboard-container-2 .dashboard-content {
        padding: 0 0;
        height: 94%;
    }
    .dashboard-container-2 .dashboard-content .card {
        border-radius: 10px;
        height: 100%;
        border: 1px solid #b9b9b9;
    }
    .dashboard-side-container {
        right: 2.5%;
        height: 83%;
    }
    .dashboard-side-container .dashboard-content .app-list .app {
        width: 60%;
    }
    .table-container {
        width: 95%;
        left: 2.5%;
    }

    /* Form */
    .form-container{
        width: 95%;
        left: 2.5%;
    }

    /* Menu siswa */
    .page-menu{
        left: 2%;
        width: 96%;
    }

    /* QR */
    .qr-container{
        width: 95%;
        left: 2.5%;
    }
    .qr-description{
        margin: 75px 0;
    }
}

/* ====== End of Tab ======= */

/* ========== Mobile ========== */

@media (max-width: 500px) {
    body {
        background-image: url("../assets/mobile-background.jpg");
        background-size: cover;
    }

    /* Header */

    .header-container {
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        padding: 0;
        border-radius: 10% 10% 10% 10% / 0% 0% 10% 10%;
    }

    .header-container .header-content .left h2 {
        font-size: 20px;
        padding: 5px 0;
    }
    .header-container .header-content .right .user-info {
        display: none;
    }

    /* Sidebar */

    .sidebar-container {
        width: 0;
        transition: 0.5s;
    }

    .sidebar-container.active {
        width: 240px;
        transition: 0.5s;
    }

    /* Login */

    .content-container {
        display: block;
        top: 25%;
        left: 0;
        position: absolute;
        width: 100%;
        height: 75%;
        border-radius: 25px 25px 0 0;
        box-shadow: 0px 1px 20px 5px #c4c4c4;
        background: var(--bg-color);
    }

    .login-section {
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .login-section .img-box {
        display: none;
        position: relative;
        width: 50%;
        height: 100%;
    }

    .login-section .img-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .login-section .img-box img {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .login-section .content-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .login-section .content-box .form-box {
        width: 80%;
    }

    .login-section .content-box .form-box h2 {
        font-size: 20px;
    }

    .login-section .content-box .form-box p {
        margin-top: 20px;
        margin-bottom: 25%;
        color: var(--alt-text-color);
    }

    .login-section .content-box .form-box a {
        color: #000000;
        text-align: end;
        transition: 0.5s ease;
    }
    .login-section .content-box .form-box a:hover {
        color: var(--second-color);
        transition: 0.5s ease;
    }

    .form-box .user-box {
        position: relative;
    }

    .form-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: var(--form-font);
        color: #000000;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #000000;
        outline: none;
        background: transparent;
    }

    .form-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: var(--form-font);
        color: var(--alt-text-color);
        pointer-events: none;
        transition: 0.5s;
    }

    .form-box .user-box input:focus ~ label,
    .form-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: var(--second-color);
        font-size: var(--alt-form-font);
    }

    #dashboard {
        display: flex;
        flex-wrap: wrap;
    }
    .dashboard-container-1 {
        top: 12%;
        left: 5%;
        width: 90%;
    }
    .dashboard-container-1 .container-fluid .container-content {
        overflow-x: scroll;
        justify-content: left;
        gap: 10px;
    }
    .dashboard-container-1
        .container-fluid
        .container-content::-webkit-scrollbar {
        display: none;
    }
    .counter-card {
        height: 100%;
        width: 350px;
    }
    .counter-card .card-content {
        width: 310px;
    }

    .dashboard-container-2 {
        width: 96%;
        top: 31%;
        left: 2%;
    }
    .dashboard-container-2 .dashboard-content {
        display: block;
    }
    .dashboard-container-2 .dashboard-content .card {
        height: 85%;
    }
    .dashboard-container-2 .dashboard-content .card.left {
        width: 100%;
    }
    .dashboard-container-2 .dashboard-content .card.right {
        width: 100%;
    }
    #overview-chart {
        height: 300px;
    }

    .dashboard-side-container {
        left: 2%;
        width: 96%;
        top: calc(31% + 107%);
        height: 20%;
    }

    .dashboard-side-container .dashboard-content {
        padding: 0 0;
    }
    .dashboard-side-container .dashboard-content .app-list {
        justify-content: left;
    }
    .dashboard-side-container .dashboard-content .app-list .app {
        width: 20%;
        margin-right: 0;
    }
    .dashboard-side-container .dashboard-content .app-list .app a i {
        text-align: center;
        font-size: 42px;
        display: block;
        color: #000000;
        margin-bottom: 10px;
        overflow-x: hidden;
    }
    .dashboard-side-container .dashboard-content .app-list .app .app-text {
        font-size: 10px;
        font-weight: 200;
        padding: 0 10px;
        text-align: center;
    }


    .form-container{
        width: 96%;
        left: 2%;
    }
    .qr-container{
        width: 96%;
        left: 2%;
    }
    .qr-description{
        margin: 30px 0;
    }
}

/* ======= End of Mobile ======= */
